<% if @books.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>

<table id = "books" border="1">
  <thead>
    <th>Code</th>
    <th>Name</th>
    <th>Status</th>
  </thead>
  <% @books.each do |c| %>
    <tr>
      <td><%= c['code'] %></td>
      <td><%= link_to c['name'], {:action => 'view',:name => c['name']}  %></td>
      <td><%= c['status'] %></td>
    </tr>
  <% end %>
</table>

<% end %>
<p><%= link_to "Add new Book", {:action => 'new' }%></p>
