<!DOCTYPE html>
<html>

<head>
  <title>TS Library</title>
      <%= csrf_meta_tags %>
</head>

<body>
  <section>
    <header id="header">
      <h1>TS Library</h1>
    </header>
  </section>
  <%= yield %>
</body>

</html>
